::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 39px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body {
    background-color: #1f1b34;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Architects Daughter", cursive;
    text-align: center;
    font-size: 130%;
  }
  
  .container {
    width: 350px;
    height: auto;
    min-height: 400px;
    background: #2a2544;
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .heading h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-image: linear-gradient(281deg,#420be6,#a16bb3);    
    font-size: 1.5rem;
    color: white;
  }
  
  .form input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 2px rgb(124, 124, 124);
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    color: white;
    width: 70%;
    margin-bottom: 20px;
  }
  
  button {
    padding: 7px;
    margin-left: 10px;
    width: 70px;
    height: 40px;
    font-family: "Architects Daughter", cursive;
    border-radius: 5px;
    background-image: linear-gradient(281deg,#420be6,#a16bb3);
    color: white;
    cursor: pointer;
    border: none;
  }

  button:hover{
    scale: 1.1;
  }
  .chatDiv{
    display: block;
    max-width: 350px;
    height: 350px;
    resize: none;
    width: 100%;
    align-items: start;
    text-align: start;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  .chatDiv button{
    background-image: linear-gradient(281deg,#e6370b,#810000);
    box-shadow: 4px 3px 7px -4px #00000040;
    font-size: 0.8rem;
  }
  .pergunta{
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    text-align: start;
    font-size: 1rem;
    border-radius: 5px;
    color: black;
    background-color: #e1ffc7;
    max-width: 70%;
    min-width: 0;
    box-shadow: 4px 3px 7px -4px #00000040;
  }
  .pergunta p{
    margin: 0;
  }
  .resposta{
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    text-align: start;
    border-radius: 5%;
    color: black;
    background-color: white;
    max-width: 70%;
    min-width: 0;
    box-shadow: 4px 3px 7px -4px #00000040;
  }
  .resposta p{
    margin: 0;
  }